*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.iconos{
  width: 20%;
  margin: 15px;
  display: inline-block

}
.opciones .Boton{
  background-color: rgb(126, 216, 246);
  padding: 8px 7px;
  margin-left: 0px;
  border-radius: 8px;
}
.iconos h1{
  display: inline-block;
  margin: 5px;
}
.iconos img{
  width: 30px;
  display: inline-block;

}
.opciones{
  float: right;
  margin: 10px;
  
}
.opciones a{
  display: inline-block;
  text-decoration: none;
  color: gray;
  margin: 20px;
}
.contenedor2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.contenedor2 h2{
  font-size: 40px;
  padding: 10PX;
  margin-left: 10%;
  margin-top: 30%;
  margin-bottom: 20px;

}
.text{

  margin-right: 0px;
  margin-left: 79px;
  margin-bottom: 104px;
  margin-top: 100px;


}
.Texto p{
  color: gray;
  margin:12px 14px ;

}

.Texto a{
  background-color: rgb(126, 216, 246);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block; /* importante para que el margin funcione bien */
  margin-top: 20px;
  margin-left: 30px;
}

.Imagen img{
  width: 600px;
  height: 600px;
  margin-top: 150px;
  margin-left: 260px;
  padding-bottom: 112px;
  padding-top: 72px;
  margin-top: 0;
  display: inline-block;
} 
