* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #059212;
}
/* Para dar parametros generales */
:root {
  --fon-p: 1.6rem;
  --fon-T: 80px;
}

.contenedor {
  display: inline-block;
  width: 100vw;
}

/* Contenedor de los iconos */
.Contenedor1 {
  background-color: #02550bc4;
  width: 100%;
  display: inline-block;
}
.Contenedor1 a {
  padding: 8px 7px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  transition: 1s;
}

.Contenedor1 a:hover {
  background-color: rgba(1, 1, 1, 0.27);
  transition: 1s;
}

/* Iconos de la derecha */
.iconos {
  width: 20%;
  margin: 15px;
  display: inline-block;
}

/* Boton de la Esquina Izquierda */
.Boton {
  background-color: #06d001;
  padding: 8px 7px;
  border-radius: 8px;
  transition: 1s;
}
/* Efecto del boton */
.Boton:hover {
  background-color: #f3ff90;
  transition: 1s;
  color: rgb(0, 0, 0);
}

/* Titulo del logo */
.iconos h1 {
  display: inline-block;
  margin: 5px;
}

/* Icono de Gotica */
.iconos img {
  width: 30px;
  display: inline-block;
}

/* opciones de Ingresar */
.opciones {
  float: right;
  font-size: 1.2rem;
}
.opciones a {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
}

/* Este contenedor Contiene los textos y la Imagen */
.contenedor2 {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between; /* Se para los textos de la imagn */
}


/* Titulo */
h2 {
  font-size: var(--fon-T);
}
/* lorem */
.Texto p {
  color: rgb(202, 201, 201);
  margin: 12px 14px;
  font-size: var(--fon-p);
}

/* Boton de Get Start */
.Texto a {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  transition: 1s;
}

.Texto a:hover {
  background-color: rgba(137, 138, 139, 0.524);
}

/* Imagen de la Monster */
.Imagen img {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  padding-bottom: 112px;
  padding-top: 70px;
  margin-top: 0;
  display: inline-block;
}


/* Se Realiza la media Quari para tables*/

@media (max-width: 800px) {
  /* Titulo del logo */
  .iconos {
    display: inline-block;
    font-size: small;
  }
  .iconos h1 {
    font-size: 1rem;

    position: absolute;
  }

  .opciones {
    display: inline-block;
    margin-right: 0px;
  }
  .Texto {
    margin: 0;
    margin-bottom:6rem ;
    display: inline-block;;
  }

  .Contenedor1 {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .contenedor2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #f4ff908a;
    margin: 0 auto;
    /* padding: 50px; */
  }

  .contenedor2 h2 {
    display: inline-block;
    font-size: 2.6rem;
  }

  .contenedor2 p {
    position: relative;
    color: white;
    font-size: small;
    width: 250px;
    margin: 0;
  }
  
  .Imagen{
    display: inline-block;
    margin-left:4rem ;
  }

  .Imagen img{
    padding: 0px;
    width: 50%;
    height: auto;
  }
}



.menu-toggle {
  display: none; /* No se muestra en pantalla*/
}

/* Se da estilo al menu hambuerguesa */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 999;
}

/* Se realiza la media quari para movil  */

@media (max-width: 480px) {
  .menu-icon {
    display: block;
  }

  .opciones {
    display: none;
    flex-direction: column;
    background-color: #02550bc4;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: right;
    z-index: 998;
  }

  /* Se muestra el menu si el check box esta acivado */
  .menu-toggle:checked ~ .opciones {
    display: flex;
  }

  /* El  estilo de los enlances en modo movil */
  .opciones a {
    display: block;
    margin: 10px 20px;
  }
}
